.icon {
  width: 40px !important;
  height: 40px !important;
  overflow: visible;
}

.info-bar svg {
  width: 40px !important;
  height: 40px !important;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
