.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 25px 0;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #222;
}



.icon {
  width: 44px;
  height: 44px;
}



.label {
  font-size: 14px;
  color: #666;
}



.value {
  font-size: 17px;
  font-weight: 600;
  color: #111;
}
